/*---------------------------------- Fonts ---------------------------------*/
@font-face {
  font-family: 'montserrat';
  src: local('montserrat') url(./fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-Italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-MediumItalic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-SemiBoldItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "montserrat";
}

label, p {
  font-size: 13px;
  font-weight: 300;
}

.button {
  margin-top: 20px;
}

.button label, button {
  padding: 10px 20px;
  border: 1px solid black;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

  .button label:hover, button:hover {
    background-color: black;
    color: white;
  }

.button input {
  padding: 10px 0;
  opacity: 0;
}